<div class="todo_con">
  <app-header
    [value]="searchText"
    [showClearIcon]="showClearIcon"
    [showSearchIcon]="showSearchIcon"
  ></app-header>

  <div class="todo_list" *ngIf="mockTodos.length > 0; else emptyList">
    <div *ngFor="let todo of mockTodos">
      <div
        class="todo_item"
        [ngClass]="{
          selected: todo.isSelected
        }"
      >
        {{ todo.title }}
        <div style="position: relative">
          <div [matMenuTriggerFor]="menu">
            <app-dotted-icon class="more" />
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Update</button>
            <button mat-menu-item>Delete</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <button mat-mini-fab color="primary" class="plus_btn">
    <app-plus-icon />
  </button>
  <ng-template #emptyList>
    <div class="empty_con">
      <app-task-icon />
      <p class="sub_title">To do list increases productivity</p>
      <div class="add">Add your first to do</div>
    </div>
  </ng-template>
</div>
