.todo_con {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todo_list {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.todo_item {
  font-size: 14px;
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.todo_item.selected {
  color: #9eb7da;
  text-decoration: line-through;
}

.plus_btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.more {
  cursor: pointer;
}

.empty_con {
  padding: 45px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.sub_title {
  color: #828282;
  font-size: 14px;
}

.add {
  color: #2f80ed;
  font-size: 14px;
  cursor: pointer;
}

.delete_con {
  height: 111px;
  width: 320px;
  background-color: #eef3f6;
  padding: 25px;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  text-align: center;
}

.delete_con span {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.buttons_con {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.buttons_con button {
  padding: 5px 10px;
  border: 0;
  min-width: 50px;
  cursor: pointer;
  border-radius: 8px;
}

.buttons_con button:hover {
  opacity: 0.8;
}

button.btn_no {
  background: #fce0e0;
  color: #ed2f2f;
}
button.btn_yes {
  background: #2f80ed;
  color: #fff;
}
