<div class="header">
  <div *ngIf="currentAction !== 'ADD'" class="header_title">
    <h1>ToDoish</h1>
    <div class="logout_btn">
      <app-logout></app-logout>
    </div>
  </div>

  <div *ngIf="currentAction === 'ADD'" class="add_header">
    <app-back-icon class="back_icon" (click)="onBack()" />
    <span>Add to do</span>
  </div>

  <div class="header_inputs">
    <div class="item">
      <app-input
        *ngIf="currentAction !== 'ADD'"
        [value]="value"
        [showSearchIcon]="showSearchIcon"
        [showClearIcon]="showClearIcon"
      />
      <app-input *ngIf="currentAction === 'ADD'" [value]="value" />
    </div>
    <app-button
      *ngIf="!currentAction"
      label="Select"
      color="primary"
    ></app-button>
  </div>
</div>
